<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<%- include('partials/header') %>

			<h2>Read</h2>
			<p>The Subscriptions See page works ok</p>

			<%- include('../partials/footer') %>
	</body>

</html>