<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-white-50" href="/setting">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <span class="navbar-text text-white text-truncate">
          Theme
        </span>
        <a style="opacity: 0%;">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
      </nav>
    </header>

    <main>
      <section class="my-2">
        <div class="container-fluid">
          <div id="containerThemes" class="row border-setting-bottom">

            <!-- Theme -->
            <div class="col-12">
              <p class="text-white-50 mb-0 mt-4 text-uppercase"><small>Theme</small></p>
            </div>

            <!-- dynamic load from js -->

          </div>

          <div id="divPreview">
            <script src="assets/js/setting_preview.js"></script>
          </div>

        </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>

</html>