<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
  <%# user.firstName %>

    <body style="background-color: chocolate;">

      <!-- listado de subscripciones -->
      <main class="container-fluid" role="main">
        <section class="mt-2">
          <h2>Esto es el index.ejs</h2>
          <!-- Subscripción cargada desde Javascript -->
          <ul id="mySubscriptions" class="p-0"></ul>

        </section>
      </main>


    </body>

</html>