<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
			<h2>Esta es la Home</h2>
			<a href="/productos">VER PRODUCTOS</a>
			<a href="/productos/15">VER PRODUCTO 15</a>
			<br>

			<img src="/images/yoda.jpg" width="200">
			<img src="https://placeimg.com/640/480/arch" width="200">
			<p>Esta es la vista que estamos creando para la home</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quo minus, a possimus ab obcaecati cum placeat
				corrupti officiis, itaque iste, dolores ad provident recusandae dicta accusamus quasi. Officiis, sequi?</p>
			<%- include('partials/footer') %>
	</body>

</html>