<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body style="font-family: 'Open Sans', sans-serif;">
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-white-50" href="/setting">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <span class="navbar-text text-white text-truncate">
          See Total as
        </span>
        <a style="opacity: 0%;">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
      </nav>
    </header>

    <main>
      <section class="my-2">
        <div class="container-fluid">
          <div class="row">


            <div class="col-12 bg-dark-light border-setting-top">
              <a href="">
                <div class="row align-items-center">
                  <div class="col-2 pl-0 text-orange text-right">
                    <i class="fa fa-check text-success d-block" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 text-white">
                    <p class="my-0 text-truncate">Average Expenses</p>
                    <p class="text-white-50">
                      <small>Divide the total of all invoices in the period of your choice.
                      </small>
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-12 bg-dark-light border-setting-top">
              <a href="">
                <div class="row align-items-center">
                  <div class="col-2 pl-0 text-orange text-right">
                    <i class="fa fa-check text-success d-none" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 text-white">
                    <p class="my-0 text-truncate">Remaining Expenses</p>
                    <p class="text-white-50">
                      <small>It shows the total of the bills that you have to pay in this period. </small>
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-12 bg-dark-light border-setting-top">
              <a href="">
                <div class="row align-items-center border-setting-bottom">
                  <div class="col-2 pl-0 text-orange text-right">
                    <i class="fa fa-check text-success d-none" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 text-white">
                    <p class="my-0 text-truncate">Total Expenses</p>
                    <p class="text-white-50">
                      <small>It shows the total of the invoices that you have in the complete period. </small>
                    </p>
                  </div>
                </div>
              </a>
            </div>


          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>

</html>