// Card Styles

#cardRow
  color: white

#cardLogo
  font-size: 2em

.subCard

.subCardColor-1
  background-color: #ee3f43

.subCardColor-2
  background-color: #e33c6c

.subCardColor-3
  background-color: #e33b99

.subCardColor-4
  background-color: #f045c3

.subCardColor-5
  background-color: #f048ef

.subCardColor-6
  background-color: #c247ee

.subCardColor-7
  background-color: #9646ee

.subCardColor-8
  background-color: #6a46ee

.subCardColor-9
  background-color: #3f46ed

.subCardColor-10
  background-color: #3f6eee

.subCardColor-11
  background-color: #4299ef

.subCardColor-12
  background-color: #45c5ef

.subCardColor-13
  background-color: #38e0e0

.subCardColor-14
  background-color: #38deb2

.subCardColor-15
  background-color: #38de87

.subCardColor-16
  background-color: #52d471

.subCardColor-17
  background-color: #55d656

.subCardColor-18
  background-color: #75d757

.subCardColor-19
  background-color: #94d757

.subCardColor-20
  background-color: #aaca4d

.subCardColor-21
  background-color: #cdcb2b

.subCardColor-22
  background-color: #fbbc2d

.subCardColor-23
  background-color: #e97721

.subCardColor-24
  background-color: #e24923

.subCardColor-25
  background-color: #000000

.subCardColor-26
  background-color: #666666

.subCardColor-27
  background-color: #999999

.subCardColor-28
  background-color: #cccbcc