<!DOCTYPE html>
<html lang="en">
<%- include('../head') %>



	<body>
		<h2>Read</h2>
		<p>The Users See page works ok</p>
		<h3>Hi <%# oneUser.firstName %>
				<%# oneUser.lastName %>
		</h3>
		<p>User Name:
		</p>
	</body>

</html>