.numbered-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.numbered-heading p {
  margin: 0;
  padding-left: 7px;
}

.divider-line {
  flex-grow: 0.95;
  height: 1px;
  margin-left: auto;
  background-color: white;
}

// .numbered-heading::after {
//   content: '';
//   display: block;
//   position: relative;
//   top: -10px;
//   width: 60%;
//   height: 1px;
//   margin-left: 130px;
//   background-color: white;
// }
