.primary {
  color: #c171ca; }

.secondary {
  color: #ffffff; }

.success {
  color: #bbbbbb; }

.danger {
  color: #000000; }

.warning {
  color: #000000; }

.info {
  color: #000000; }

.light {
  color: #ccd6f6; }

.dark {
  color: #000000; }

.bg-dark {
  background-color: #3764be !important; }

.img-profile {
  border: 4px solid pink; }

.prueba {
  color: brown; }
